@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(29, 109, 175);
    height: 50px;
}


.left {
    width: 150px;
}

.nav {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav:hover {
    color: grey;
}