@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Pricing{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    width: 100vw;
}

#calculator{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.button-Container{
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
}

#submit{
    width: 30%;
    font-family: 'Roboto', sans-serif;
}

input:hover{
    background-color: lightgrey;
}

.outputs {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
}

.text {
    border-top: 1px solid red;
}